<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Studios Enhanced</span>
  </a>

  <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('student') }}" class="nav-link">Student</a></li>
      <li class="nav-item"><a href="{{ url_for('profile') }}" class="nav-link">Profile</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>
  </header>
</div>


  <div class="home">
    <h1>Product Home Page</h1>
    <p>THis is a test for Render, aasddding to it now  jdhdhdhd</p>


    <div class="productpage";> 
      
      {% for product in products %}

      <div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 20px";>
          <h4>{{product['productname']}}</h4>
          <div><b>Product Owner:</b> {{product['productowner']}}</div>

          {% if 'prerequisite' in product %}
            <div><b>Prerequisite:</b> {{product['prerequisite']}}</div>
          {% endif %}

      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}