<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class="navheader" style="background-color: rgb(119, 118, 118)";>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="#" alt="" width='50' height='50'>
      <span class="fs-4" style="padding-left:20px">Studios Enhanced</span>
  </a>

  <ul class="nav nav-pills" style="padding-right: 20px">
      <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" aria-current="page" style="color:white">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('student') }}" class="nav-link" style="color:white">Student</a></li>
      <li class="nav-item"><a href="{{ url_for('profile') }}" class="nav-link" style="color:white">Profile</a></li>
      <li class="nav-item"><a href="#" class="nav-link">N/A</a></li>
      <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
  </ul>
  </header>
</div>

  <div class="home">
    <h1>Product Home Page</h1>
    <p>Just disregard the fact the css on the home page is different from the other pages, I was just testing some stuff </p>

    <div class="productpage"> 
      
      {% for product in products %}
      <div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 20px";>
          <h4>{{product['title']}}</h4>
          <div><b>Product Owner:</b> {{product['product_owner']}}</div>
          <div><b>Desciption:</b> {{product['description']}}</div>

          {% if 'prerequisites' in product %}
            <div><b>Prerequisite:</b> {{product['prerequisites']}}</div>
          {% endif %}

      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}