<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<section id="main" style="width: fit-content;">

  <div id="main-content_home" style ="width: 1400px";>
    <div id="main-content__container" style ="width: 1360px";>
              <h1>Account Profile</h1>

      <div>

        <h3>{{account['first_name']}} {{account['last_name']}}</h3>

        <div style="padding-bottom: 8px;">
          <b>Student ID:</b> {{account['id']}}
        </div>
        <div style="padding-bottom: 8px;">
          <b>Email:</b> {{account['email']}}
        </div>
        <div style="padding-bottom: 8px;">
          <b>Current Studio:</b> {{account['current_studio']}}
        </div>

        <div style="padding-bottom: 8px;">
          <b>Role:</b> {{account['role']}}
        </div>

        {% if 'product_preference1' in account %}
        <div style="padding-bottom: 8px;">
          <b>Product Preference 1:</b> {{account['product_preference1']}}
        </div>
        {% endif %}

        {% if 'product_preference2' in account %}
        <div style="padding-bottom: 8px;">
          <b>Product Preference 2:</b> {{account['product_preference2']}}
        </div>
        {% endif %}

        {% if 'product_preference3' in account %}
        <div style="padding-bottom: 8px;">
          <b>Product Preference 3:</b> {{account['product_preference3']}}
        </div>
        {% endif %}

        {% if 'current_product' in account %}
        <div style="padding-top: 15px;">
          <b>Enroled Product:</b> {{account['current_product']}}
        </div>
        {% endif %}

      </div>

    </div>
  </div>

{% endblock %} 

  <!--

  {% for product in products %}
      <div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 20px";>
          <h4>{{product['title']}}</h4>
          <div><b>Product Owner:</b> {{product['product_owner']}}</div>
          <div><b>Desciption:</b> {{product['description']}}</div>

          {% if 'prerequisites' in product %}
            <div><b>Prerequisite:</b> {{product['prerequisites']}}</div>
          {% endif %}

      </div>
      {% endfor %}
      
  -->

</section>